<div class="container">
  <h1>My Bookmarks</h1>
    <ul>
    	<% @bookmarks.each do |bookmark| %>
    	<h4><%= link_to bookmark.title, bookmark %></h4>
        <%= bookmark.hashtags.each do |hashtag| %>
          <li><%= link_to hashtag.name, tag_path(hashtag) %></li>
      	<% end %>
      </li>
      <% end %>
    </ul>

  <%= link_to 'Create Bookmark', new_bookmark_path %>
</div>