<h1>My Bookmarks</h1>
  <ul>
  	<% @bookmark.each do |n| %>
  	<li><%= n.title %></li>
  	<% end %>
  </ul>
<button type="button" class="btn btn-custom"><%= link_to 'Create Bookmark', new_bookmark_path %></button>