<h1>Create a Bookmark</h1>

<ul>
	<li>Add a bookmark</li>
	<li>Create a hashtag to categorize your bookmarks</li>
	<li>Get started already!</li> 
</ul>

<input type="text" class="form-control" placeholder="Type in or paste bookmark here">
</br>
<textarea class="form-control" rows="3" placeholder="Write a description, don't forget to #hashtag!"></textarea>
</br>
<button type="button" class="btn btn-custom"><%= link_to 'Submit', bookmarks_path %></button>