<h1>My Hashtags</h1>
<% #trying to show a list of hashtags with previews to each link
   # %>

	<ul>
	 <% @hashtags.each do |hashtag| %>
	   <li><%= hashtag.name %></li>
	  <ul> 
	  	<li><% hashtag.bookmarks %></li>
	  	<% end %>
      </ul>
	</ul>