<h2><%= params[:hashtag] %></h2>
<% if @hashtagged %>
  <% @hashtagged.each do |hashtagged| %>
    <%= render_hashtaggable hashtagged %>
  <% end -%>
<% else %>
  <p>There is no match for the <em><%= params[:hashtag] %></em> hashtag.</p>
<% end %>

<button type="button" class="btn btn-danger"><%= link_to 'Delete Hashtag', destroy_hashtag_path(hashtag: @hashtag.name), method: :delete %></button>