@import "bootstrap";
@import "bootstrap-sprockets";

.user-info {
   margin-top: 9px;
 }
 
 .nav {
   margin-top: 5px;
 }

header {
	background-color: #202020;
}

.jumbotron {
	background-color:#4D4D4D;
	color: white;
}

body {
	background-color: #160B33;
	color: white;
}

div#bike {
	color: #160B33;
}

input {
  color: black;
}

